body{
    background-color: rgb(205, 232, 122);
}
	
 .logo{
    height: 200px;
	background: #eb9952;
	font-family: 'Questrial', sans-serif;
	font-size: 12pt;
	color: rgba(210, 231, 51, 0.6);
}




.logo img{
    width: 200px;
    height: 200px;
    float: left;
    

}
.logo h1{
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.menu{
		height: 200px;
}
	
.menu ul
{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
        font-size:30px ;
}
	
.menu li
{
		display: inline-block;
}
	
.menu li a, #menu li span
{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: rgb(101, 149, 183);
        
}
	
.menu li:hover a, #menu li.active a, #menu li.active span
{
		background: rgb(230, 245, 255);
		color: #CC3399;
}
.active{
    background: rgb(20, 62, 90);
}
.middle{
    
    padding-left: 10%;
    padding-right: 10%;
}
.middle img{
    
    width: 100%;
    height: 600px;
}	
.middle h1{
    text-align: center;
    color:  #e8812d;
    font-weight: 900;
    
    font-size: 70px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.middle h2{
    text-align: center;
    color:  #4fdae4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;

}	
.bottom .a{
    width: 25%;
    margin-right: 10px;
    /* height:314px; */
    padding: 30px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 15px 20px rgba(227, 126, 49, 0.1);
    border-radius: 10px;

}
.bottom p{
    width: 80%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    
}
.footer{
    height: 150px;
	background: #d98e32;
	
	color: rgba(42, 74, 24, 0.6);

}
.footer h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 100px;
    

}
.footer p{
    text-align: center;
    
}
